<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.timi.mapper.UserTestMapper">

    <resultMap type="com.ml.timi.model.entity.UserTest" id="UserTestMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
        <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="login" column="login" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, pwd, head_img, phone, create_time, login    </sql>

    <sql id="remake_Column_List_a">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="pwd != null and pwd != ''">
                pwd,
            </if>
            <if test="headImg != null and headImg != ''">
                head_img,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="login != null and login != ''">
                login,
            </if>
        </trim>
    </sql>

    <sql id="remake_Column_List_b">
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name ,jdbcType="VARCHAR"},
            </if>
            <if test="pwd != null and pwd != ''">
                #{pwd ,jdbcType="VARCHAR"},
            </if>
            <if test="headImg != null and headImg != ''">
                #{headImg ,jdbcType="VARCHAR"},
            </if>
            <if test="phone != null and phone != ''">
                #{phone ,jdbcType="VARCHAR"},
            </if>
            <if test="createTime != null">
                #{createTime ,jdbcType="TIMESTAMP"},
            </if>
            <if test="login != null and login != ''">
                #{login ,jdbcType="VARCHAR"},
            </if>
        </trim>
    </sql>


    <!--查询单个-->
    <select id="searchById" resultMap="UserTestMap">
        select
        (<include refid="Base_Column_List"/>)

        from timi.user_test
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="searchAllByLimit" resultMap="UserTestMap">
        select
        (<include refid="Base_Column_List"/>)

        from timi.user_test
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="search" resultMap="UserTestMap">
        select
        (<include refid="Base_Column_List"/>)

        from timi.user_test
        <where>
            <if test="id != null">
                and id = #{id ,jdbcType="VARCHAR"}
            </if>
            <if test="name != null and name != ''">
                and name = #{name ,jdbcType="VARCHAR"}
            </if>
            <if test="pwd != null and pwd != ''">
                and pwd = #{pwd ,jdbcType="VARCHAR"}
            </if>
            <if test="headImg != null and headImg != ''">
                and head_img = #{headImg ,jdbcType="VARCHAR"}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone ,jdbcType="VARCHAR"}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime ,jdbcType="TIMESTAMP"}
            </if>
            <if test="login != null and login != ''">
                and login = #{login ,jdbcType="VARCHAR"}
            </if>
        </where>
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into timi.user_test
        (<include refid="remake_Column_List_a"/>)
        (<include refid="remake_Column_List_b"/>)
    </insert>


    <!--批量新增数据-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into timi.user_test
        (<include refid="remake_Column_List_a"/>)

        <foreach collection="entities" item="entity" separator=",">
            (<include refid="remake_Column_List_b"/>)
        </foreach>
    </insert>


    <!--批量新增或按主键更新数据-->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into timi.user_test(name, pwd, head_img, phone, create_time, login)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.pwd}, #{entity.headImg}, #{entity.phone}, #{entity.createTime}, #{entity.login})
        </foreach>
        on duplicate key update
        name = values(name) , pwd = values(pwd) , head_img = values(head_img) , phone = values(phone) , create_time =
        values(create_time) , login = values(login)
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update timi.user_test
        <set>
            <if test="name != null and name != ''">
                name = #{name ,jdbcType="VARCHAR"},
            </if>
            <if test="pwd != null and pwd != ''">
                pwd = #{pwd ,jdbcType="VARCHAR"},
            </if>
            <if test="headImg != null and headImg != ''">
                head_img = #{headImg ,jdbcType="VARCHAR"},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone ,jdbcType="VARCHAR"},
            </if>
            <if test="createTime != null">
                create_time = #{createTime ,jdbcType="TIMESTAMP"},
            </if>
            <if test="login != null and login != ''">
                login = #{login ,jdbcType="VARCHAR"},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from timi.user_test
        where id = #{id}
    </delete>

</mapper>

